.nav-btn {
  width: 48px;
  height: 48px;
  background: #c3cea0;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
